  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-gradient-dark z-index-3 py-3">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item{% if request.resolver_match.url_name == 'index' %} active{% endif %}">
              <a class="nav-link" href="{% url 'restaurant:index' %}">Home</a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'dish-list' %} active{% endif %}">
              <a class="nav-link" href="{% url 'restaurant:dish-list' %}">Dishes</a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'cook-list' %} active{% endif %}">
              <a class="nav-link" href="{% url 'restaurant:cook-list' %}">Cooks</a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'ingredient-list' %} active{% endif %}">
              <a class="nav-link" href="{% url 'restaurant:ingredient-list' %}">Ingredients</a>
            </li>
            <li class="nav-item{% if request.resolver_match.url_name == 'dish-types-list' %} active{% endif %}">
              <a class="nav-link" href="{% url 'restaurant:dish-types-list' %}">DishTypes</a>
            </li>
              </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'restaurant:cook-detail' pk=user.id %}">User: {{ user.get_username }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={% url 'restaurant:index' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'restaurant:registration'%}?next={% url 'restaurant:index' %}">Registration</a></li>

            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>