{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dishes List
  </h1>
  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-primary">
  </form>

  <div class="row">
    {% if dish_list %}
      {% for dish in dish_list %}
        <div class="col-md-4">
          <a href="{% url 'restaurant:dish-detail' pk=dish.id %}">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ dish.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ dish.dish_type }}</h6>
                <p class="card-text">{{ dish.description }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p>There are no dishes in the service.</p>
    {% endif %}
  </div>
{% endblock %}