{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dishes List
  </h1>
  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-primary">
  </form>

  <div class="row">
    {% if ingredient_list %}
      {% for ingredient in ingredient_list %}
        <div class="col-md-2">
          <a href="{% url 'restaurant:index' %}">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ ingredient.name }}</h5>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p>There are no ingredients in the service.</p>
    {% endif %}
  </div>
{% endblock %}